/** ======================================
* Component : Button
* ======================================= */

.button {
  position: relative;
  display: inline;
  align-items: center;
  margin: 0;
  padding: em(12) em(18);
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  font-size: em(14);
  font-weight: bold;
  background-color: $clr-1;
  color: #000;
  border-radius: $rad;
  transition: $trans;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-appearance: none;
  max-width: 40vw;
}

/**
* Modifier : Color
* --------------------------------------- */

.button--secondary {
  color: $base-font-color;
  background: $clr-light;
  box-shadow: inset 0 0 0 1px $base-border-color;
  &:hover, &:focus {
    color: $base-font-color;
    background: $base-border-color;
  }
  &.is-active,
  .is-pressed {
    color: $clr-light;
    background: shade($base-border-color, 40%);
    box-shadow: none;
  }
}

.button--danger {
  background-color: $clr-danger;
  &:hover, &:focus {
    background: shade($clr-danger, 20%);
  }
}

/**
* Modifier : Size
* --------------------------------------- */

.button--small {
  padding: em(8) em(18);
}

.button--big {
  padding: 0.9em; 
  font-size: 1.125em;
  max-width: 30%;
}

@media only screen and (max-width: 768px){
  	.button--big{
      max-width: 80%;
      font-size: 0.9em;
    }
}

.button--block {
  display: block;
  width: 100%;
}

.button--blockMobile {
  @media (max-width: $mq-s-up) {
    display: block;
    width: 100%;
  }
}


.button--ghost{
  background-color: transparent;
  color: $clr-0-darken;
  border: 1px solid $clr-0-darken;
  &:hover{
    color: inherit;
  }
}



/**
* Button : diabled state
* --------------------------------------- */
button:disabled,
button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}