
.bg-blue{
	background-color: #5ac1eb;
	background-position: center center;
}


.block-center{
    display: block!important;
	margin: auto;
}


hr {
	margin-top: 50px;
}
footer {
	margin-top: 50px;
	margin-bottom: 50px;
}
footer p {
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}


.fb-login-button{
	display: block!important;
	margin: auto;
}


