.banner-full-screen{
    min-height: 100%;
}


.banner-full-screen h1{text-transform: initial;}



@media only screen and (max-width: 768px){
        
    .banner-full-screen h1{
        text-transform: initial;
        font-size: 36px;
    }

}


.title-hero{
    transform: skew(0, -3deg);
    background-color: $clr-1;
    line-height: 1.4;
    color: #FFF;
    width: 50%;
    display: block;
    margin: auto;
    min-width: 233px;
    padding: 15px;
}